.section {
  height: 100vh;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.menuAlignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.resume {
  font-size: 26px;
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.textContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.textAlignment {
  display: flex;
  align-items: center;
  gap: 50px;
  /* padding: 32px 68px; */
  position: relative;
  left: 54px;
  bottom: 60px;
}

.portfolio {
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 17.05px;
  font-weight: 700;
  box-sizing: border-box;
  z-index: 10;
}

.henry {
  font-size: 30px;
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: relative;
  bottom: -26px;
}

.year {
  position: absolute;
  top: 8px;
  left: 14px;
  font-size: 25px;
  letter-spacing: 5px;
}

.developerContainer {
  z-index: 1;
  text-transform: uppercase;
  color: rgba(8, 31, 92, 0.08);
  position: absolute;
  left: 14px;
  bottom: -100px;
  font-size: 140px;
  font-weight: 800;
  letter-spacing: -4px;
}

.frontEndText {
  position: relative;
  bottom: -40px;
}

.developerText {
  position: relative;
  top: -20px;
}

.sideNav {
  position: absolute;
  top: 120px;
  right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.navElement {
  color: #081f5c;
  font-size: 25px;
  margin-bottom: 12px;
  cursor: pointer;
}

.border {
  position: absolute;
  width: 610px;
  border-bottom: 2px solid #081f5c;
  left: -70px;
  bottom: 25px;
  /* animation: borderSlide 3s ease; */
}

/* @keyframes borderSlide {
  0% {
    transform: translateX(0);
    width: 0;
  }

  100% {
    transform: translateX(610);
    width: 610px;
  }
} */
