.section {
  height: 100vh;
  overflow: hidden;
  margin-top: 96px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.introduction {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 2.4rem 4.8rem;
}

.overview {
  flex: 2;
  overflow: hidden;
  position: relative;
}

.nameContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  right: 3rem;
  bottom: 3rem;
  font-size: 4rem;
  color: #081f5c;
  /* animation: nameSliding 1s linear; */
}

.familyName {
  font-weight: 550;
  position: relative;
  top: 3.5rem;
  right: 1rem;
}

.name {
  font-weight: 330;
}

.detailInformation {
  flex: 1;
}

.aboutMeContainer {
  display: flex;
  color: #081f5c;
}

.aboutMe {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 550;
}

.majorTitle {
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  flex-grow: 1;
  position: relative;
}

.majorText {
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  bottom: 1.8rem;
}

.underline {
  position: absolute;
  border-bottom: 3px solid #081f5c;
  /* width: 700px; */
  width: 99%;
  top: 3.2rem;
  left: 20;
  animation: underlined 2s linear;
}

@keyframes underlined {
  0% {
    width: 0%;
  }

  100% {
    width: 99%;
  }
}

@keyframes imageSliding {
  0% {
    transform: translateY(20rem);
  }

  50% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0);
  }
}

.information {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.1rem;
}

.educationContainer {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.areaContainer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
}

.category {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 3.8rem;
  font-weight: 600;
  flex: 1;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 3;
}

.alignment {
  margin-bottom: 2.4rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.description {
  font-size: 1.8rem;
  color: rgba(8, 31, 92, 0.58);
  /* color: gray; */
  font-weight: 700;
}

.hobbiesContainer {
  display: flex;
  gap: 4.8rem;
  flex-wrap: wrap;
}

.hobbiesElement {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media (max-width: 1440px) {
  .imageContainer {
    position: relative;
    right: 23rem;
    top: 5rem;
  }

  .img {
    height: 40rem;
    width: 65rem;
    object-fit: contain;
  }

  .nameContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 3rem;
    bottom: 3rem;
    color: #081f5c;
    font-size: 7.5rem;
  }

  .aboutMe {
    font-size: 5rem;
  }

  .majorText {
    font-size: 3.8rem;
  }

  .information {
    font-size: 2rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .description {
    font-size: 2rem;
  }

  .hobbiesElement {
    font-size: 1.8rem;
  }
}

@media (min-width: 1450px) and (max-width: 1920px) {
  .nameContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 8rem;
    bottom: 10rem;
    color: #081f5c;
    font-size: 9.5rem;
  }

  .majorText {
    font-size: 3.8rem;
    font-weight: 600;
    position: relative;
    bottom: 1.8rem;
  }

  .information {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3;
    letter-spacing: 0.1rem;
  }

  .category {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 3.8rem;
    font-weight: 600;
  }

  .details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 3;
  }

  .title {
    font-size: 2.4rem;
  }

  .description {
    font-size: 2.2rem;
  }
}
